body{
    background-color: #433477;
    color: rgb(255, 255, 255);
    text-align: center;
}

#anyone{
    border-radius: 10px; 
    width: 300px;
    height:300px;
}

    nav a{
        text-decoration: none;
       color: rgb(204, 3, 171);
    }

    #fone{
        border-radius: 10px;  
        width: 400px;
        height:500px;
    }

    #fio{
        border-radius: 10px;  
        width: 500px;
        height:650px;
    }

    #pratica{
        border-radius: 10px;  
        width: 400px;
        height:500px; 
    }

    #galinha{
        border-radius: 10px;  
        width: 400px;
        height:500px; 
    }