body{
    background-color: rgb(0, 0, 0);
    color: rgb(170, 11, 99);
    text-align: center;
}

#anyone{
    border-radius: 10px; 
    width: 300px;
    height:300px;
}

    nav a{
        text-decoration: none;
    }